<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<nav class="navbar bg-light">
    <div class="container">
        <a class='navbar-brand' href="{% url 'plan' %}">
            <img src="https://cdn-icons-png.flaticon.com/512/5773/5773749.png" alt="" width="30" height="30">
            wemeet
        </a>
    </div>
    <div>

        {% if request.user.is_authenticated %}

        {{request.user|title}}님,
        <a href="{% url 'accountapp:dashboard' %}">마이페이지</a> |
    <a href="{% url 'accountapp:logged_out' %}">로그아웃</a>
    {% else %}

    <a href="{% url 'accountapp:login' %}">로그인</a>
    {% endif %}
    </div>

</nav>
<div class="container">

{% block content %}

{% endblock %}
</div>
{% block include_js %}
{% endblock %}
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // DOM loaded
        {% block domready %}
        {% endblock %}
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>