{% extends "base.html" %}

{% block title %}login{% endblock %}

{% block content %}
  <h1>Log-in</h1>

  {% if form.errors %}
    <p>아이디와 비밀번호가 일치하지 않습니다. 다시 시도해주세요</p>
  {% else %}
    <p>다음 폼을 사용하여 로그인하세요. 계정이 없다면 <a href="{% url 'register' %}">여기에서 등록하세요</a>.</p>
  {% endif %}

  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Log-in" /></p>
    </form>

  </div>
{% endblock %}