{% extends 'base.html' %}
{% load humanize bootstrap4 %}
{% load static %}
{% block title %} plan {% endblock %}
{% block content %}
<div class="container">
    {% if plan.password and not is_member %}
    <div class='password-check'>
        <h3>비밀약속 입니다.</h3>
        <p>비밀번호를 입력해주세요. 비밀번호 일치 시 비밀약속방에 자동으로 참여됩니다.</p>
        <div class="p-4">
            <form id="password-form">
                {% csrf_token %}
                <div class="input-group input-group-dynamic input-group-append mb-4" id="password-field">
                    <label class="form-label" for="password">비밀번호</label>
                    <input type="text" class="form-control" name="password" id="password-input">
                    <button class='btn btn-primary' type="submit" id="submit">제출</button>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            <div class="nav">
                <h3 class="align-self-start col">{{plan.title}}</h3>
                <p class="align-self-end text-right">
                    {% if plan.owner == request.user %}
                    <a href="{% url 'plan_edit' plan.id  %}"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a href="{% url 'plan_delete' plan.id %}"><i class="fa-regular fa-trash-can"></i></a>
                </p>
                {% elif is_member %}
                <p>참여중</p>
                <a href="{% url 'group_delete' plan.id %}">나가기</a>
                {% else %}
                <a href="{% url 'group_create' plan.id %}">참여하기</a>
                {% endif %}
                </p>
            </div>
            <div class="card">
                {% if messages %}
                {% for message in messages %}
                <div class="alert 
                        {% if message.tags == 'success' %}alert-success
                        {% elif message.tags == 'error' %}alert-danger{% endif %}" role="alert">
                    <strong>
                        {% if message.tags == 'success' %}Success!
                        {% elif message.tags == 'error' %}Danger!{% endif %}
                    </strong> {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                        <tbody>
                            <tr>
                                <th><i class="fa-solid fa-map-location-dot"></i> 장소</th>
                                <td>{{plan.address}}</td>
                            </tr>
                            <tr>
                                <th><i class="fa-regular fa-calendar-check"></i> 시간 </th>
                                <td>{{plan.time}}</td>
                            </tr>
                            <tr>
                                <th><i class="fa-regular fa-note-sticky"></i> 메모</th>
                                <td>{{plan.memo}}</td>
                            </tr>
                            <tr>
                                <th><i class="fa-solid fa-crown"></i> 방장</th>
                                <td
                                    style="display: flex; justify-content: space-between; align-items: center; padding-top: 10px; padding-bottom: 10px;">
                                    <span>{{plan.owner}}</span>
                                    {% if request.user == plan.owner %}
                                    <a class='btn btn-success btn-sm' href="{% url 'plan_mail' plan.id %}"
                                        onclick="return confirmReminder()">알림 메일 보내기</a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th><i class="fa-solid fa-users"></i> 참여자</th>
                                <td
                                    style="display: flex; justify-content: space-between; align-items: center; padding-top: 10px; padding-bottom: 10px;">
                                    <span>
                                        {% for g in group %}
                                        {{g.user}}
                                        {% endfor %}</span>
                                    <a class='btn btn-success btn-sm' href="{% url 'plan_map' plan.id %}">참여자 위치보기</a>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="fa-regular fa-envelope"></i> 초대링크</th>
                                <td
                                    style="display: flex; justify-content: space-between; align-items: center; padding-top: 10px; padding-bottom: 10px;">
                                    <p id="url-to-copy"> http://default-stag-wemeet-fc448-19977705-a3810fad5f77.kr.lb.naverncp.com/plan/{{plan.id}}</p>
                                    <a href="" id="copy-button"><i class="fa-regular fa-copy"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!--table responsive -->
            </div> <!-- card -->
            <div class="mt-4">
                <h3> 참여자 댓글 <small style="color: #e91e63">{{comment_cnt}}</small></h3>
                <div>
                    {% for comment in plan.comment_set.all %}
                    <p class="list-group-item">
                        {%if comment.user.profile.photo.url %}
                        <a href="#" class="avatar avatar-sm rounded-circle">
                            <img alt="Image placeholder" src="{{comment.user.profile.photo.url}}">
                        </a>
                        {% else %}
                        <a href="#" class="avatar avatar-sm rounded-circle">
                            <img alt="Image placeholder" src="{% static 'assets/img/random.png' %}">
                        </a>
                        {% endif %}
                        <strong>{{ comment.user }}</strong> {{ comment.message }}
                        <small style="color: #e91e63">{{ comment.created_at|naturaltime }}</small>
                    </p>
                    {% endfor %}
                </div>
                <div>
                    {% include 'plan/comment_form.html' %}
                </div>

            </div> <!-- mt4-->
        </div>
        <div class="col">
            <div>
                <h3> 약속 장소 </h3>
                <!-- kakao map -->
                {% if plan.latitude %}
                {% include 'plan/kakaomap.html' %}
                {% include 'plan/kakaomap.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endif %}

{% endblock %}
{% block include_js %}
{{ plan.password|json_script:"plan-pw"}}
{{ plan.id|json_script:"plan-id" }}
<script>
    function confirmReminder() {
        var confirmed = confirm("이 메일은 약속 전날 오전 06시에 자동 발신됩니다. 그래도 보내시겠습니까?");
        return confirmed;
    }
</script>
{% endblock %}

<script type="text/javascript">
    {% block domready %}
    $('#submit').click(function (event) {
        // event.preventDefault()

        var planPW = JSON.parse(document.getElementById('plan-pw').textContent);
        var planID = JSON.parse(document.getElementById('plan-id').textContent);
        var inputPW = $("#password-input").val();
        console.log(planPW, inputPW)

        $.ajax({
            type: "POST",
            url: "/plan/check_password/",
            dataType: "json",
            data: {
                'plan_pw': planPW,
                'input_pw': inputPW,
                'plan_id': planID,
                'csrfmiddlewaretoken': '{{csrf_token}}',
            },
            success: function (response) {
                alert("비밀약속방에 참여했습니다.")
            },
            error: function () {
                alert("틀렸습니다.")
            },
        });

    });
    $('#copy-button').click(function () {
        var dummy = $('<input>').val($('#url-to-copy').text()).appendTo('body').select();
        document.execCommand('copy');
        dummy.remove();

        alert("초대링크가 복사되었습니다.");
    });
    {% endblock %}
</script>