{% extends 'base.html' %}
{% block title %} plan {% endblock %}
{% block content %}
<div class="row">
    <div class="col col-lg-2">
        <a class="btn btn-primary w-100" href="{% url 'plan_create' %}">약속 만들기</a>
            <div class="input-group input-group-dynamic mb-4">
            <!-- 검색 폼 -->
            <form action="" method="GET">
                <span class="input-group-text" type="submit" id="basic-addon1">검색</span>
                <input type="text" class="form-control" placeholder="약속명 또는 메모" name="search-plan" value="{{ search }}" aria-describedby="basic-addon1">
            </form>
        </div>
            {% include 'plan/plan_list_filter.html' %}
    </div>

    <div class="col">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="future-tab" data-toggle="tab" href="#future" role="tab">다가오는 약속</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="past-tab" data-toggle="tab" href="#past" role="tab">지나간 약속</a>
            </li>
        </ul>
        <div class="tab-content">
            <!-- Future plan list -->
            <div class='tab-pane fade show active' id='future' role='tabpanel'>
                <div class="row">
                         <div class="row">
         <div class="col text-center">
    <a href="?category=&tab=future">전체</a>
    {% for category in categories %}
        <a href="?category={{ category.id }}&tab=future">{{ category.name }}</a>
    {% endfor %}
         </div>
    </div>
                {% for plan in future_plans %}
                    <div class="col-sm-4">
                        <div class="card mb-4">
                            <div class="card-header">
                            {% if plan.time_diff.days == 0 %}
                                Today
                            {% else %}
                                {{ plan.time_diff.days}} day {% endif %}
                            </div>
<!--        <img src="{{ plan.image.url }}" class="card-img-top" alt="{{ plan.title }}">-->
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'plan_detail' plan.id %}">{{ plan.title }}</a></h5>
                                <p class="card-text">{{ is_member }}</p>
                                <p class="card-text">{{ plan.memo }}</p>
                                <p class="card-text">{{ plan.time|date:"Y-m-d h:i A" }}</p>
                            </div>
                            <hr class="dark horizontal my-0">
                            {% if plan.owner == request.user %}
                            <div class="card-footer">
                                <a href="{% url 'plan_edit' plan.id  %}">수정</a>
                                <a href="{% url 'plan_delete' plan.id %}">삭제</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                </div>
                <!-- Pagination links for future plans -->
                <div class="pagination justify-content-center">
                    <span class="step-links">
                        {% if future_plans.has_previous %}
                        <a href="?future_page={{ future_plans.previous_page_number }}">previous</a>
                        {% endif %}

                    <span class="current">
                        Page {{ future_plans.number }} of {{ future_plans.paginator.num_pages }}.
                    </span>
                        {% if future_plans.has_next %}
                        <a href="?future_page={{ future_plans.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
            <!-- Past Plans Tab -->
            <div class='tab-pane fade' id='past' role='tabpanel'>
                <div class="row">
                         <div class="row">
         <div class="col text-center">
    <a href="?category=&tab=past">전체</a>
    {% for category in categories %}
        <a href="?category={{ category.id }}&tab=past">{{ category.name }}</a>
    {% endfor %}
         </div>
    </div>

                    {% for plan in past_plans %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'plan_detail' plan.id %}">{{ plan.title }}</a></h5>
                                <p class="card-text">{{ plan.memo }}</p>
                                <p class="card-text">{{ plan.time|date:"Y-m-d h:i A" }}</p>
                            </div>
                            <hr class="dark horizontal my-0">
                            {% if plan.owner == request.user %}
                            <div class="card-footer">
                                <a href="{% url 'plan_edit' plan.id  %}">수정</a>
                                <a href="{% url 'plan_delete' plan.id %}">삭제</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                     <!-- Pagination links for past plans -->
                    <div class="pagination justify-content-center">
                        <span class="step-links">
                            {% if past_plans.has_previous %}
                            <a href="?past_page={{ past_plans.previous_page_number }}">previous</a>
                            {% endif %}
                        <span class="current">
                            Page {{ past_plans.number }} of {{ past_plans.paginator.num_pages }}.
                        </span>
                        {% if past_plans.has_next %}
                            <a href="?past_page={{ past_plans.next_page_number }}">next</a>
                        {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}